# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* Table creation
* Few examples of airthmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. matplotlib
5. ggplot2
6. pyspark

|Data Science Tools|
|------------------|
|RStudio|
|Vs Code|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
totalmin = 200
hours = totalmin//60
remainingmin = totalmin%60
print(hours,"hours and ",remainingmin," minutes ")

3 hours and  20  minutes

## Author
Radhika